* {
  box-sizing: border-box;
}
body {
  padding-top: 40px;
  font-family: Merriweather;
  background-color: #f2f1e8;
}

/*Nav Bar*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  font-family: Roboto;
  box-shadow: 1px -1px 6px black;
}
.nav-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 0;
  list-style-type: none;
  color: #2b2f26;
  background-color: white;

  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 60px;
  text-transform: uppercase;
}
nav a {
  color: #2b2f26;
}
nav a:hover {
  color: #cd5d67;
}
nav a:active {
  color: #967343;
}

.icon-logo {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 40px;
  /*background-image: url("images/bent-creek-logo.png");*/
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;

  align-self: flex-start;
}
.icon-logo:active {
  background-image: imgage("images/bent-creek-logo-coral.png");
}
/*Footer*/
footer {
  display: flex;
  height: 100px;
  padding-left: 20px;
  color: #f2f1e8;
  background-color: #2b2f26;

  justify-content: flex-start;
  align-items: center;
}
/*Newsletter*/
.page-img {
  display: flex;
  min-height: 100vh;
  background-image: url("images/background-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  justify-content: center;
  align-items: center;
}
.sub-box {
  display: flex;
  width: 45%;
  height: 382px;
  color: #968772;
  background-color: #fff;

  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;

  justify-content: space-around;
}
.main-txt {
  width: 80%;
  margin-bottom: -30px;
  font-family: Merriweather;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: #2b2f26;

  align-self: center;
}
.sub-txt {
  width: 100%;
  margin-bottom: 3px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #2b2f26;
}
.submit_button {
  align-self: center;
}
.submit_button input {
  width: 126px;
  height: 56px;
  padding: 10px;
  font-size: 20px;
  color: #f2f1e8;
  border: none;
  background-color: #968772;
}
.submit_button input:hover {
  color: white;
  background: #967343;
}


input {
  width: 85%;
  transition: ease-in-out, width .35s ease-in-out;
  border: none;
  border-bottom: 2px solid #968772;
  background-color: #fff;
}
.name input:focus,
.email input:focus {
  width: 85%;
  border-bottom: 2px solid #967343;
}

/*About*/
header {
  font-size: 35px;
  text-align: center;
}
.main-content {
  padding: 0 15% 2% 15%;
  font-size: 25px;
  line-height: 2em;
}
.birdhouse {
  float: left;
  width: 162px;
  height: 130px;
  margin-right: 5%;
  background-image: url("images/birdhouse.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.top-par a {
  color: #968772;
}
.top-par a:hover {
  color: #967343;
}
blockquote {
  margin: 50px 0;
  padding-left: 30px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 100;
  line-height: 1em;
  color: #2b2f26;
  border-left: 1.5px solid #2b2f26;
}
.section-title {
  margin-bottom: -10px;
  font-weight: 200;
}
.page-mid {
  display: flex;
  max-width: 100%;
  height: 400px;
  background-image: url("images/background-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  justify-content: center;
  align-items: center;
}
.mid-title {
  margin: 0;
  font-size: 80px;
  font-weight: 300;
  color: white;
}
#third-sec {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
}
#Fac {
  flex: 1 1 100%;
  margin-bottom: 5px;
}
#third-sec p {
  flex: 1 1 79%;
  margin-top: 0;
  margin-right: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;

  justify-content: flex-start;
}
.fig-cap {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2em;
}
.fac-img {
  width: 160px;
  height: 120px;
  background-image: url("images/background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
table {
  margin-top: 20px;
  margin-bottom: 20px;
}
td {
  padding: 10px;
}
table,
th,
td {
  padding: 6px 15px 6px 15px;
  border-collapse: collapse;
  border: 1px solid #2b2f26;
}
.row1,
.row3 {
  background-color: #f2eadd;
}
/*Home*/
.main-title {
  margin-bottom: 5px;
  font-size: 85px;
  font-weight: 400;
}
.sub-title {
  margin-top: 0;
  font-size: 50px;
  font-weight: 100;
}
.art-row {
  display: flex;
  margin: 15px;

  flex-flow: row wrap;
  justify-content: space-around;
}
.art-title {
  display: flex;
  width: auto;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  text-align: center;
  color: #f2f1e8;
  background-color: #2b2f26;

  justify-content: center;
  align-items: center;
}
.prod1 {
  display: flex;
  flex: 1 1 55%;
  height: 450px;
  margin: 5px;
  background-image: url("images/product-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  align-items: flex-end;
}
.prod2 {
  display: flex;
  flex: 1 1 15%;
  height: 450px;
  margin: 5px;
  background-image: url("images/product-2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  align-items: flex-end;
}
.prod3 {
  display: flex;
  flex: 1 1 15%;
  height: 450px;
  margin: 5px;
  background-image: url("images/product-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  align-items: flex-end;
}
.prod4 {
  display: flex;
  flex: 1 1 15%;
  height: 260px;
  margin: 5px;
  background-image: url("images/product-4.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  align-items: flex-end;
}
.prod5 {
  display: flex;
  flex: 1 1 15%;
  height: 260px;
  margin: 5px;
  background-image: url("images/product-5.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  align-items: flex-end;
}
.prod6 {
  display: flex;
  flex: 1 1 35%;
  height: 260px;
  margin: 5px;
  background-image: url("images/product-6.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  align-items: flex-end;
}
.prod7 {
  display: flex;
  flex: 1 1 15%;
  height: 260px;
  margin: 5px;
  background-image: url("images/product-7.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  align-items: flex-end;
}
